@import "tailwindcss";

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Custom styles for the range slider thumb */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #057D88;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -2px; /* Ajuste fino para centralizar perfeitamente um thumb de 20px em uma trilha de 8px */
  border: none;
  box-shadow: none;
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #057D88;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  box-shadow: none;
}